<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleZipper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleZipper.Properties.Settings>
            <setting name="LastOutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastZipFileName" serializeAs="String">
                <value>archive.zip
</value>
            </setting>
            <setting name="LastCompressionLevelIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenOutputFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecursiveAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnablePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastOperationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastExistingZipPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableZipComment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastZipComment" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSplitZip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitSizeValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SplitUnitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentThemeName" serializeAs="String">
                <value>ライト</value>
            </setting>
            <setting name="LoggingLevel" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="AddTimestampToZipFileName" serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleZipper.Properties.Settings>
    </userSettings>
</configuration>